.main{
    text-align: center;  
}
#dropDown{
    font-size: 20px;
    font-weight: 900;
    text-align: center ;
    border-radius: 20px;
    text-align: center;
}
#hello{
    border: 1px solid;
    margin: auto;
    width: 50%;
    text-align: center;
    width: 400px;
    height: 400px;
    margin-top: 110px;
    border-radius: 10px;
}